/*
	Battle Hill Brewing Company

	Layout © Battle Hill Brewing Co., Jacob Hume
	Licensed AGPLv3, Rock on.
*/


/*= Typography =============*/

@font-face {
	font-family: "Title";
	font-weight: bold;
	src: url("../fonts/Chunkfive-webfont.woff") format("woff");
}

/* Base font */
body {
	font-family: serif;
}

/* Title/emphasized font */
h1,h2,
.content-title,
.nav-item>a,
.site-title {
	font-family: "Title", serif;
	font-weight: bold;
}



/*= Base Styles ============*/

div,
header,
li,
section,
ul {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 1.2em;
	margin: 0;
}

footer {
	clear: both;
	padding: 1em;
	text-align: center;
}

iframe {
	border: 0;
	width: 100%;
}

html {
	/*background: #131313;*/
	color: #131313;
	background: #245A2D;
	padding: 0;
}



/*= Modules ================*/

.a11y-link {
	background: #fff;
	color: #000;
	position: fixed;
	left: .5em;
	top: -10em;
}

.beer-name {
	display: inline-block;
	float: left;
	font-size: 1em;
	margin: 0 .25em 0 0;
	vertical-align: baseline;
}

.beer-name::after {
	content: ":";
}

.clear:before {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

.content {
	background: #EBECD7;
	/*background-image: linear-gradient(to top, #245A2D, #EBECD7 5em);*/
	border-radius: 0 0 2em 2em;
	box-shadow: .1em .1em .25em #000;
	padding: 0 1em;
}

.content a {
	color: #243659;
	font-weight: bold;
	transition: color, text-shadow .5s;
}

.content h1,
.content h2 {
	color: #243659;
}

.content-title {
	margin-top: 0;
	padding-top: .5em;
	text-shadow: 1px 1px 1px #aaa;
}

.header {
	background: #156092 url("/img/bg.jpg") no-repeat center center;
	background-size: cover;
	box-shadow: 0 1px .5em #000;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

.logo {
	text-align: center;
}

.nav {
	background: rgba(0,0,0,.5);
	display: flex;
	margin: 0;
	padding: .25em 0;
	justify-content: center;
}

.nav-item>a {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	transition: color, text-shadow .5s;
}

.site-title {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	line-height: .9;
	padding: 1em 0 .5em 0;
	text-align: center;
	text-shadow: 4px 4px 1px #000;
}


/*= State ==================*/

.a11y-link:active,
.a11y-link:focus {
	top: .5em;
}

.content a:active,
.content a:focus,
.content a:hover {
	color: #5A7CBE;
}

.nav-item>a:active, 
.nav-item>a:focus, 
.nav-item>a:hover {
	color: #fff;
	text-shadow: 0 0 .1em #fff;
}



/*= Responsive =================*/


/* Very small screens */
@media screen and (min-width: 400px) {

	html {
		font-size: .8em;
	}
}


/* Smaller screens */
@media screen and (min-width: 700px) {

	.home-details {
		float: right;
		width: 50%;
	}

	.nav-item {
		list-style: none;
	}

	.nav-item>a {
		display: inline-block;
		padding: .5em;
	}

	.nav-item:before {
		color: #fff;
		content: "·";
		text-shadow: 1px 1px 1px #000;
	}

	.nav-item:first-child {
		padding: 0;
	}

	.nav-item:first-child:before {
		content: "";
		padding: 0;
	}
}


/* Larger screens (tablet, desktop */
@media screen and (min-width: 1024px) {

	html {
		font-size: 1.2em;
	}

	.content {
		margin: 0 auto;
		padding: 1em;
		max-width: 960px;
	}

	.logo {
		margin-top: -1.5em;
	}

	.nav-item>a {
		padding: .25em .5em;
	}
}
