/*
	Site name

	Layout © , Jacob Hume
	Licensed AGPLv3, Rock on.
*/


/*= Fonts ==================*/

@font-face {
	font-family: "BHBGaramond";
	font-weight: normal;
	src: url("../fonts/EBGaramond12-Regular.woff") format("woff");
}

@font-face {
	font-family: "BHBGaramondTitle";
	font-weight: bold;
	/*src: url("../fonts/EBGaramondSC12-Regular.woff") format("woff");*/
	/*src: url("../fonts/acknowledgement-webfont.woff") format("woff");*/
	src: url("../fonts/alfaslabone-regular-webfont.woff") format("woff");
}



/*= Base Styles ============*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #fff;
	font-family: "BHBGaramond", serif;
	font-size: 1.2em;
	margin: 0;
}

footer {
	clear: both;
	padding: 1em;
	text-align: center;
}

section>h1 {
	margin-top: 0;
}

html {
	background: #050505;
	padding: 0;
}



/*= Modules ================*/

.a11y-link {
	background: #fff;
	color: #000;
	position: fixed;
	top: -10em;
}

.content {
	background: #131313;
	padding: 0 1em;
}

.content a {
	color: #65887E;
	text-decoration-style: dotted;
}

.content a:active,
.content a:focus,
.content a:hover {
	color: #9FBFB7;
}

.content-title {
	font-weight: normal;
	margin-top: 0;
	padding-top: .5em;
}

.header {
	background: #156092 url("/img/bg.jpg") no-repeat center center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.nav {
	background: rgba(0,0,0,.5);
	display: flex;
	margin: 0;
	padding: .25em 0;
	justify-content: center;
}

.nav-item:active,
.nav-item:hover {
	text-shadow: 0 0 .2em #fff;
}

.nav-item>a {
	color: #fff;
	display: inline-block;
	font-family: "BHBGaramondTitle", serif;
	height: 100%;
	letter-spacing: -1px;
	padding: 1em .25em;
	text-decoration: none;
}

.nav-item>a:active, 
.nav-item>a:focus, 
.nav-item>a:hover {
/*	border: 0 solid #fff;
	border-width: 0 0 .1em 0;*/
}

.nav-item:before {
	content: "·";
}

.nav-item:first-child {
	padding: 0;
}

.nav-item:first-child:before {
	content: "";
	padding: 0;
}

.site-title {
	font-family: "BHBGaramondTitle", serif;
	font-size: 2em;
	font-weight: bold;
	line-height: .8;
	padding: .5em 0 1em 0;
	text-align: center;
	text-shadow: 4px 4px 1px #000;
}


/*= State ==================*/

.content a, .nav a {
	transition: color, text-shadow .5s;
}

.a11y-link:active,
.ally-link:focus {
	top: 1em;
}



/*= Responsive =================*/

/* Larger screens (tablet, desktop */
@media screen and (min-width: 1024px) {

	body {
		font-size: 1.5em;
	}

	.content {
		margin: 0 auto;
		padding: 1em;
		max-width: 960px;
	}

	.nav-item {
		list-style: none;
	}
}

/* Smaller screens */
@media screen and (min-width: 700px) {

	.content {
	}

	.nav-item>a {
		padding: 0 .5em;
	}

	.nav-item>a:active,
	.nav-item>a:hover {
	}
}

/* Very small screens */
@media screen and (min-width: 700px) {
}
